body {
    width: 100%;
    height: 100%;
    font-family: 'MyriadPro';
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}



div.scrolling-page-image {
	position:relative;
	width:300px;
	height:300px;
	margin: 25px 100px 25px 50px;
	background-image:url('../images/data_explained.jpeg');
	background-size:cover;
	float:right;
}
div.scrolling-page-image div {
	position:absolute; 
	width: 330px; 
	height:330px; 
	top: -15px; 
	left:15px; 
	border-radius: 4px;
}
.public div.scrolling-page-image div {
	border: 8px solid rgba(80,133,160,.2);
}
.entity div.scrolling-page-image div {
	border: 8px solid rgba(247,143,51,.2);
}
div.scrolling-page-image div.noborder {
	border: none;
}

@media(max-width:1199px) {
	div.scrolling-page-image {
		width: 250px;
		height: 250px;		
	}
	div.scrolling-page-image div {
		width: 276px;
		height: 276px;	
		top: -13px; 
		left:13px; 	
	}
} 
@media(max-width:991px) {
	div.scrolling-page-image {
		position:relative;
		width:90%;
		height:100px;
		float: none;
		margin: 0px 20px 25px 0px;
	}
	div.scrolling-page-image div {
		position:absolute; 
		width: 100%; 
		height:120px;
		top: -10px; 
	}

}

.footer-padding {
		height:100%;
	}

.scrolling-section {
    min-height: 100px;
    padding-top: 100px;
    background: #fff;
}


.navbar-fixed-bottom {
	background-color: white;
}
.navbar-fixed-bottom a {
	color: black;
}

.public-entity-nav {
	text-align: center;
}
.public-entity-nav img {
	display: block;
	margin: auto;
}
.entity .public-entity-nav.public {
	color: grey;
}
.entity .public-entity-nav.public:hover {
	color: #5085a0;
}
.public .public-entity-nav.entity {
	color: grey;
}
.public .public-entity-nav.entity:hover {
	color: #f78f33;
}
.entity .public-entity-nav.entity {
	color: #f78f33;
}
.public .public-entity-nav.public {
	color: #5085a0;
}
.public-entity-nav h2 {
	font-size: 0.9em;
	font-weight: bolder;
}
.glyphicon-record {
    font-size: 1.2em;
}
.entity input, .entity select, .entity textarea {
	border-color: #f78f33 !important;
}
.public input, .public select, .public textarea {
	border-color: #5085a0 !important;
}
.entity button,.entity a.btn.btn-default {
	background-color: #f78f33 !important;
	color: white !important;
}
.public button, .public a.btn.btn-default {
	background-color: #5085a0 !important;
	color: white !important;
}
.public a.btn.btn-default {
	background-color: #5085a0 !important;
}
.entity a.btn.btn-default {
	background-color: #f78f33 !important;
}
span.link {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}  
section.scrolling-section p {
	margin-bottom: 30px;
} 


